body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

     
  padding-bottom: 70px;   

  .post-image {
  width: 100%;
  height: 500px;;
  max-height: none;    
  object-fit: contain;    
  border-radius: 8px;
  cursor: pointer;
}

.post-date {
  font-size: 15px;
  color: #999;
}






}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
